body {
    margin: 0;
    padding: 0;
    background: url('imagenfondobeatme.jpg') center/cover no-repeat #f8f8f8;
    font-family: Monserrat, sans-serif;
    text-align: center;
    color: white;
    height: 100vh;
    padding-top: 100px;
}

h1 {
    font-family: UrbanJungleDEMO, sans-serif;
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke-width: 2px black;
    text-shadow: 0 0 10px #fff, 0 0 40px #00bcd4;
    margin-bottom: 20px;
    margin-top: 20%;
}

h3 {
    font-family: monospace;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px black;
}
h5 {
    font-family: monospace;
    font-size: 10px;
    color: #fff;
    text-shadow: 0 0 5px black;
}

.botones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 5%;
}

button {
    padding: 0;
    margin: 5%;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: #0084ff;
    transition: background-color 0.3s;
}

button.active {
    background-color: #0004ff;
}

.stop-btn {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: normal;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 15px 0; 
    width: 80%; 
    margin: 20% auto; 
    color: black;
    background-color: rgb(200, 33, 33);
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: url("CartaFrente.JPG");
    color: white;
    padding: 20px;
    margin: 0; 
}

.marco-fijo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh; 
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000; 
}

.marco-fijo .izquierda {
    display: flex;
    align-items: left;
}

.marco-fijo .logo {
    max-height: 60%; /* Ajusta el tamaño del logo relativo a la altura del marco */
    margin-right: 10px;
}
.marco-fijo .derecha {
    position: relative;
}

.marco-fijo .menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.marco-fijo .menu-desplegable {
    display: none;
    position: absolute;
    top: 40px; 
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1001;
    min-width: 150px;
}

.marco-fijo .menu-desplegable a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.marco-fijo .menu-desplegable a:hover {
    background-color: #f0f0f0;
}

.logo {
    display: block;
    align-items: center; 
}

.logo-img {
    max-width: 5%; /* Ajusta el tamaño máximo del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    padding: 0.5%; /* Agrega un relleno si es necesario */
}

.games4d-text {
    font-size: 24px; 
    font-weight: bold;
}

.menu {
    margin-top: 10%; 
    margin-rigth: 10%;
}

.menu select {
    font-family: Roboto, sans-serif; 
    font-size: 16px; 
    padding: 8px; 
    border: none; 
    border-radius: 5px; 
    background-color: #0084ff; 
    color: white; 
    cursor: pointer; 
}

.marco img {
    max-width: 5%;
    height: auto;
    padding: 0.5%;
    align-content: left;
}
