body {
    margin: 0;
    padding: 0;
    background: url('imagenfondobeatme.jpg') center/cover no-repeat #f8f8f8;
    font-family: 'Monserrat', sans-serif;
    text-align: center;
    color: white;
    height: 100vh;
    padding-top: 100px; /* Ajusta el padding superior para evitar que el contenido se superponga al marco */
}

h1 {
    font-family: 'UrbanJungleDEMO', sans-serif;
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke-width: 2px black;
    text-shadow: 0 0 10px #fff, 0 0 40px #00bcd4;
    margin-bottom: 20px;
    margin-top: 20%;
}

h3 {
    font-family: monospace;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px black;
}

h5 {
    font-family: monospace;
    font-size: 10px;
    color: #fff;
    text-shadow: 0 0 5px black;
}

.botones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 5%;
}

button {
    padding: 0% 0%;
    margin: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: #0084ff;
    transition: background-color 0.3s;
}

button.active {
    background-color: #0004ff;
}

.stop-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: normal;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 15px 0; /* Ajustar el padding para adaptarse al contenido */
    width: 80%; /* Ajustar el ancho según sea necesario */
    margin: 20% auto; /* Centrar el botón y ajustar los márgenes */
    color: black;
    background-color: rgb(200, 33, 33);
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: url("CartaFrente.JPG");
    color: white;
    padding: 20px;
    margin: 0; /* Asegura que no haya margen por defecto */
}

.marco-fijo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh; /* 1/10 del alto de la pantalla */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semi-transparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.marco-fijo .izquierda {
    display: flex;
    align-items: center;
}

.marco-fijo .logo {
    max-height: 60%; /* Ajusta el tamaño del logo relativo a la altura del marco */
    margin-right: 10px;
}

.marco-fijo .derecha {
    position: relative;
}

.marco-fijo .menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.marco-fijo .menu-desplegable {
    display: none;
    position: absolute;
    top: 40px; /* Ajusta según sea necesario */
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1001;
    min-width: 150px;
}

.marco-fijo .menu-desplegable a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.marco-fijo .menu-desplegable a:hover {
    background-color: #f0f0f0;
}

.logo {
    display: block;
    align-items: center; /* Alinea verticalmente los elementos del logo */
}

.logo-img {
    max-width: 5%; /* Ajusta el tamaño máximo del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    padding: 0.5%; /* Agrega un relleno si es necesario */
}

.games4d-text {
    font-size: 24px; /* Ajusta el tamaño del texto GAMES4D */
    font-weight: bold;
}

.menu {
    margin-top: 10%; /* Ajusta el margen superior del menú */
    margin-right: 10%;
}

.menu select {
    font-family: 'Roboto', sans-serif; /* Aplica la fuente al menú desplegable */
    font-size: 16px; /* Ajusta el tamaño del texto del menú */
    padding: 8px; /* Agrega un relleno al menú desplegable */
    border: none; /* Elimina el borde del menú desplegable */
    border-radius: 5px; /* Agrega esquinas redondeadas al menú desplegable */
    background-color: #0084ff; /* Cambia el color de fondo del menú desplegable */
    color: white; /* Cambia el color del texto del menú desplegable */
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra al menú desplegable */
    margin-top: 20px;
}

.menu select option {
    background-color: #ffffff; /* Cambia el color de fondo de las opciones del menú desplegable */
    color: black; /* Cambia el color del texto de las opciones del menú desplegable */
}
